name: agent-browser-构建和提交docker

on:
  push:
    branches: [main]
    paths: 
      - "agent-browser/**"
      - ".github/workflows/agent-browser.yml"
      - "!**.md"

jobs:

  # 并发构建
  setup-build-publish-v3:
    runs-on: ubuntu-latest
    name: 构建和推送docker镜像v3
    steps:
    
    - name: 更新代码
      # 使用action库  actions/checkout获取源码
      uses: actions/checkout@v3


    -  
      name: 登录 Docker Hub
      uses: docker/login-action@v2
      with:
        username: adockero
        password: ${{ secrets.PASSWORD }}

# ##########  构建  ###########################


    - name: 构建镜像  adockero/agent-browser:latest
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/agent-browser:latest
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./agent-browser
        file: "./agent-browser/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: |
          FROM_ARG=node:22-alpine
        # Adds labels with git repository information to the built image
        labels: true