name: mysqldump-构建和提交docker

on:
  push:
    branches: [main]
    paths: 
      - "mysqldump/**"
      - ".github/workflows/mysqldump.yml"
      - "!**.md"

jobs:

  # 并发构建
  setup-build-publish-v3:
    runs-on: ubuntu-latest
    name: 构建和推送docker镜像v3
    steps:
    
    - name: 更新代码
      # 使用action库  actions/checkout获取源码
      uses: actions/checkout@v3


    -  
      name: 登录 Docker Hub
      uses: docker/login-action@v2
      with:
        username: adockero
        password: ${{ secrets.PASSWORD }}

# ##########  构建  ###########################


# ##########  mysqldump/Dockerfile  start  ###########################

    - name: 构建镜像  adockero/mysqldump:5.7
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump:5.7
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump
        file: "./mysqldump/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: BASE_FROM=alpine:3.4
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true    

    - name: 构建镜像  adockero/mysqldump
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump
        file: "./mysqldump/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: BASE_FROM=alpine:3.19
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true    

# ##########  mysqldump/Dockerfile  end  ###########################


    - name: 构建镜像  adockero/mysqldump:tables-ssh-pv
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump:tables-ssh-pv
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump/tables-ssh
        file: "./mysqldump/tables-ssh/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: |
          APK_ARG=pv
          FILE_ARG=dump-import.md5.pv.sh
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true   

    - name: 构建镜像  adockero/mysqldump:tables-ssh-cpu
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump:tables-ssh-cpu
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump/tables-ssh
        file: "./mysqldump/tables-ssh/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: FILE_ARG=dump-import.md5.cpu.sh
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true   


    - name: 构建镜像  adockero/mysqldump:tables-ssh
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump:tables-ssh
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump/tables-ssh
        file: "./mysqldump/tables-ssh/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        build-args: FILE_ARG=dump-import.md5.sh
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true   




    - name: 构建镜像  adockero/mysqldump:tables
      uses: docker/build-push-action@v3
      with:
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: adockero/mysqldump:tables
        # tags: adockero/node-systemd:node-14
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        context: ./mysqldump/tables
        file: "./mysqldump/tables/Dockerfile"
        # Always attempt to pull a newer version of the image
        pull: true
        push: true
        # 构建参数
        # build-args: NODE_VERSION=14
        #   APK_ARG=rsync
        # Adds labels with git repository information to the built image
        labels: true    



    # - name: 构建镜像  adockero/node-service:node-11-alpine
    #   uses: docker/build-push-action@v3
    #   with:
    #     # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
    #     tags: adockero/node-service:node-11-alpine
    #     # Path to the Dockerfile (Default is '{path}/Dockerfile')
    #     context: ./node
    #     file: "./node/Dockerfile.service"
    #     # Always attempt to pull a newer version of the image
    #     pull: true
    #     push: true
    #     # 构建参数
    #     build-args: |
    #       FROM_ARG=node:11-alpine
    #     #   APK_ARG=rsync
    #     # Adds labels with git repository information to the built image
    #     labels: true          

